<% provide :title, t(".title") %>
<h1>Help</h1>
<p>
  <%= t ".help"%>
  <a href="http://www.railstutorial.org/help"><%= t ".tutorial_section"%></a>.
  <%= t ".get_help"%>
  <a href="http://www.railstutorial.org/book"><em><%= t ".tutorial_rails"%></em>
  <%= t ".book"%></a>.
</p>
