<footer class="footer">
  <small>
    <%= t "application.the"%><a href="http://www.railstutorial.org/">
      <%= t "application.tutorial_rails"%></a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("application.about"), about_path %></li>
      <li><%= link_to t("application.contact"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= t "application.news"%></a></li>
    </ul>
  </nav>
</footer>
